/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

:root{
  --f7-navbar-link-color: #2d7d2f;
}

.logo{
  height: 40px;
  width: 175px;
  display: block;
  background: url('../static/logo.svg') no-repeat;
  margin-left: 10px;
}
/* Your app custom styles here */